-#.comments_block
-#  - post.comments.order(:created_at).each do |comment|
-#    = render 'posts/comments', comment: comment
-#
-#  .news
-#    %h5 Add a comment:
-#    = form_for [user, post, post.comments.build], remote: true do |f|
-#      %p
-#        = f.text_area :text
-#      %p
-#        = f.submit